<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>VisitUA Backoffice - Ensino</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form><b:commandButton icon="arrow-left" look="primary btn-block" value="Voltar ao Início" size="lg" action="index.xhtml?faces-redirect=true"/></h:form>
        <h2 class="text-center" style="color: dimgrey">Ensino:</h2>
        <div class="col-md-12">
            <h:form id="tableForm" class="col-md-12 align-content-md-center">
                <b:dataTable id="editableEnsinoTable" var="ensino" value="#{ensinosBean.ensinos}" page-length="5" page-length-menu="5,10,20">
                    <b:dataTableColumn label="Id">
                        <h:outputText value="#{ensino.id}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Nome">
                        <h:outputText value="#{ensino.nome}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Tipo">
                        <h:outputText value="#{ensino.tipo}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="">
                        <b:commandButton value="Delete" action="#{ensinosBean.deleteAction(ensino)}" update="@form" />
                    </b:dataTableColumn>
                </b:dataTable>
            </h:form>
        </div>
        <hr />
        <div class="col-md-3"></div>
        <h:form class="col-md-6 align-content-md-center">
            <h4 class="text-center" style="color: dimgrey">Adicionar um Novo Ensino</h4>
            <b:panel>
                <b:panelGrid columns="1">
                    <h:outputLabel for="nome" value="Nome: " style="font-weight:bold" />
                    <b:inputText id="nome" value="#{ensinosBean.nome}" required="True" />
                </b:panelGrid>
                <b:panelGrid columns="1">
                    <h:outputLabel for="tipo" value="Tipo: " style="font-weight:bold" />
                    <b:selectOneMenu value="#{ensinosBean.tipo}" colMd="2">
                        <f:selectItems value="#{ensinosBean.getTipos()}" />
                    </b:selectOneMenu>
                </b:panelGrid>
                <b:commandButton value="Add New" action="#{ensinosBean.addAction}" update="@form tableForm"/>
            </b:panel>
        </h:form>
        <div class="col-md-3"></div>
    </h:body>
</html>
