<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>VisitUA Backoffice - Imagens</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body> 
        <h:form><b:commandButton icon="arrow-left" look="primary btn-block" value="Voltar ao Início" size="lg" action="index.xhtml?faces-redirect=true"/></h:form>
        <h2 class="text-center" style="color: dimgrey">Imagens das Obras de Arte</h2>
        <div class="col-md-12">
            <h:form enctype="multipart/form-data" id="imagemObraForm" class="col-md-12 align-content-md-center">
                <b:panel>
                    <b:panelGrid columns="1">
                        <b:selectOneMenu value="#{imagensBean.obra}" colMd="2" update="@form" required="true">
                            <f:selectItem itemLabel="Selecione uma Obra" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{imagensBean.availableObras}" />
                        </b:selectOneMenu>
                    </b:panelGrid>
                    <b:panelGrid columns="1">
                        <p:graphicImage style="width:100%; max-width:600px;" url="#{imagensBean.obra_img_url}" cache="false" rendered="#{imagensBean.obra != null}" />
                    </b:panelGrid>
                    <h:inputFile value="#{imagensBean.obra_img_file}" rendered="#{imagensBean.obra != null}" />
                    <b:commandButton value="Upload" action="#{imagensBean.uploadObraImg()}" update="@form" rendered="#{imagensBean.obra != null}"/>
                </b:panel>
            </h:form>
        </div>
        <h2 class="text-center" style="color: dimgrey">Imagens dos Edifícios</h2>
        <div class="col-md-12">
            <h:form enctype="multipart/form-data" id="imagemEdificioForm" class="col-md-12 align-content-md-center">
                <b:panel>
                    <b:panelGrid columns="1">
                        <b:selectOneMenu value="#{imagensBean.edificio}" colMd="2" update="@form" required="true">
                            <f:selectItem itemLabel="Selecione um Edificio" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{imagensBean.availableEdificios}" />
                        </b:selectOneMenu>
                    </b:panelGrid>
                    <b:panelGrid columns="1">
                        <p:graphicImage style="width:100%; max-width:600px;" url="#{imagensBean.edificio_img_url}" cache="false" rendered="#{imagensBean.edificio != null}" />
                    </b:panelGrid>
                    <h:inputFile value="#{imagensBean.edificio_img_file}" rendered="#{imagensBean.edificio != null}" />
                    <b:commandButton value="Upload" action="#{imagensBean.uploadEdificioImg()}" update="@form" rendered="#{imagensBean.edificio != null}"/>
                </b:panel>
            </h:form>
        </div>
        <h2 class="text-center" style="color: dimgrey">Imagens das Coleções</h2>
        <div class="col-md-12">
            <h:form enctype="multipart/form-data" id="imagemColecoesForm" class="col-md-12 align-content-md-center">
                <b:panel>
                    <b:panelGrid columns="1">
                        <b:selectOneMenu value="#{imagensBean.colecao}" colMd="2" update="@form" required="true">
                            <f:selectItem itemLabel="Selecione uma Coleção" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{imagensBean.availableColecoes}" />
                        </b:selectOneMenu>
                    </b:panelGrid>
                    <b:panelGrid columns="1">
                        <p:graphicImage style="width:100%; max-width:600px;" url="#{imagensBean.colecao_img_url}" cache="false" rendered="#{imagensBean.colecao != null}" />
                    </b:panelGrid>
                    <h:inputFile value="#{imagensBean.colecao_img_file}" rendered="#{imagensBean.colecao != null}" />
                    <b:commandButton value="Upload" action="#{imagensBean.uploadColecaoImg()}" update="@form" rendered="#{imagensBean.colecao != null}"/>
                </b:panel>
            </h:form>
        </div>
        <h2 class="text-center" style="color: dimgrey">Imagens dos Serviços</h2>
        <div class="col-md-12">
            <h:form enctype="multipart/form-data" id="imagemServicosForm" class="col-md-12 align-content-md-center">
                <b:panel>
                    <b:panelGrid columns="1">
                        <b:selectOneMenu value="#{imagensBean.servico}" colMd="2" update="@form" required="true">
                            <f:selectItem itemLabel="Selecione um Serviço" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{imagensBean.availableServicos}" />
                        </b:selectOneMenu>
                    </b:panelGrid>
                    <b:panelGrid columns="1">
                        <p:graphicImage style="width:100%; max-width:600px;" url="#{imagensBean.servico_img_url}" cache="false" rendered="#{imagensBean.servico != null}" />
                    </b:panelGrid>
                    <h:inputFile value="#{imagensBean.servico_img_file}" rendered="#{imagensBean.servico != null}" />
                    <b:commandButton value="Upload" action="#{imagensBean.uploadServicoImg()}" update="@form" rendered="#{imagensBean.servico != null}"/>
                </b:panel>
            </h:form>
        </div>
    </h:body>
</html>

