<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>VisitUA Backoffice - Refeitórios</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form><b:commandButton icon="arrow-left" look="primary btn-block" value="Voltar ao Início" size="lg" action="index.xhtml?faces-redirect=true"/></h:form>
        <h2 class="text-center" style="color: dimgrey">Refeitórios</h2>
        <div class="col-md-12">
            <h:form id="tableForm" class="col-md-12 align-content-md-center">
                <b:dataTable id="editableRefeitoriosTable" var="refeitorio" value="#{refeitoriosBean.refeitorios}" page-length="5" page-length-menu="5,10,20">
                    <b:dataTableColumn label="Id">
                        <h:outputText value="#{refeitorio.id}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Nome">
                        <b:inputText value="#{refeitorio.nome}" rendered="#{refeitorio.editable}" required="true" />
                        <h:outputText value="#{refeitorio.nome}" rendered="#{not refeitorio.editable}" />
                    </b:dataTableColumn>
                    
                    <b:dataTableColumn label="Coordenadas">
                        <b:inputText value="#{refeitorio.coordenadas}" rendered="#{refeitorio.editable}" />
                        <h:outputText value="#{refeitorio.coordenadas}" rendered="#{not refeitorio.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="">
                        <b:commandButton value="Edit" action="#{refeitoriosBean.editAction(refeitorio)}" rendered="#{not refeitorio.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="">
                        <b:commandButton value="Delete" action="#{refeitoriosBean.deleteAction(refeitorio)}" update="@form" />
                    </b:dataTableColumn>
                </b:dataTable>
                <b:commandButton value="Save Changes" action="#{refeitoriosBean.saveAction}" update="@form" />
            </h:form>
        </div>
        <hr />
        <div class="col-md-3"></div>
        <h:form class="col-md-6 align-content-md-center">
            <h4 class="text-center" style="color: dimgrey">Adicionar Novo Refeitório</h4>
            <b:panel>
                <b:panelGrid columns="1">
                    <h:outputLabel for="nome" value="Nome: " style="font-weight:bold" />
                    <b:inputText id="nome" value="#{refeitoriosBean.nome}" required="True" />
                </b:panelGrid>
                <b:panelGrid columns="1">
                    <h:outputLabel for="coordenadas" value="Coordenadas: " style="font-weight:bold" />
                    <b:inputText id="coordenadas" value="#{refeitoriosBean.coordenadas}" />
                </b:panelGrid>
                <b:commandButton value="Add New" action="#{refeitoriosBean.addAction}" update="@form tableForm"/>
            </b:panel>
        </h:form>
        <div class="col-md-3"></div>
    </h:body>
</html>
