<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>VisitUA Backoffice - Serviços</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form><b:commandButton icon="arrow-left" look="primary btn-block" value="Voltar ao Início" size="lg" action="index.xhtml?faces-redirect=true"/></h:form>
        <h2 class="text-center" style="color: dimgrey">Serviços</h2>
        <div class="col-md-12">
            <h:form id="tableForm" class="col-md-12 align-content-md-center">
                <b:dataTable id="editableServicosTable" var="servico" value="#{servicosBean.servicos}" page-length="5" page-length-menu="5,10,20">
                    <b:dataTableColumn label="Id">
                        <h:outputText value="#{servico.id}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Designação">
                        <b:inputText value="#{servico.designacao}" rendered="#{servico.editable}" required="True"/>
                        <h:outputText value="#{servico.designacao}" rendered="#{not servico.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Local">
                        <b:inputText value="#{servico.local}" rendered="#{servico.editable}" />
                        <h:outputText value="#{servico.local}" rendered="#{not servico.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Coordenadas">
                        <b:inputText value="#{servico.coordenadas}" rendered="#{servico.editable}" />
                        <h:outputText value="#{servico.coordenadas}" rendered="#{not servico.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Horário">
                        <b:inputText value="#{servico.horario}" rendered="#{servico.editable}" />
                        <h:outputText value="#{servico.horario}" rendered="#{not servico.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="">
                        <b:commandButton value="Edit" action="#{servicosBean.editAction(servico)}" rendered="#{not servico.editable}" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="">
                        <b:commandButton value="Delete" action="#{servicosBean.deleteAction(servico)}" update="@form" />
                    </b:dataTableColumn>
                </b:dataTable>
                <b:commandButton value="Save Changes" action="#{servicosBean.saveAction}" update="@form" />
            </h:form>
        </div>
        <hr />
        <div class="col-md-3"></div>
        <h:form class="col-md-6 align-content-md-center">
            <h4 class="text-center" style="color: dimgrey">Adicionar Novo serviço:</h4>
            <b:panel>
                <b:panelGrid columns="1">
                    <h:outputLabel for="designacao" value="Designação: " style="font-weight:bold" />
                    <b:inputText id="designacao" value="#{servicosBean.designacao}" required="True" />
                </b:panelGrid>
                <b:panelGrid columns="1">
                    <h:outputLabel for="local" value="Local: " style="font-weight:bold" />
                    <b:inputText id="local" value="#{servicosBean.local}" />
                </b:panelGrid>
                <b:panelGrid columns="1">
                    <h:outputLabel for="coordenadas" value="Coordenadas " style="font-weight:bold" />
                    <b:inputText id="coordenadas" value="#{servicosBean.coordenadas}" />
                </b:panelGrid>
                <b:panelGrid columns="1">
                    <h:outputLabel for="horario" value="Horário " style="font-weight:bold" />
                    <b:inputText id="horario" value="#{servicosBean.horario}" />
                </b:panelGrid>
                <b:commandButton value="Add New" action="#{servicosBean.addAction}" update="@form tableForm"/>
            </b:panel>
        </h:form>
        <div class="col-md-3"></div>
    </h:body>
</html>
